<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd 
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop.xsd 
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="myTarget" class="com.eichee.aop.MyTarget"></bean>
    <bean id="logAspect" class="com.eichee.aop.LogAspect"></bean>
    <bean id="myAspect" class="com.eichee.aop.MyAspect"></bean>
    
    <aop:config>
    	<aop:aspect ref="logAspect">
    		<aop:before method="log" pointcut="execution(* com.eichee.aop.MyTarget.show(..))"/>
    	</aop:aspect>
    	
    	<aop:aspect ref="myAspect">
    		<aop:pointcut expression="execution(* com.eichee.aop.MyTarget.show(..))" id="myPointcut"/>
    		<aop:after-returning method="myAfterReturning" pointcut-ref="myPointcut" returning="returnValue"/>
    		<aop:after-throwing method="myAfterThrowing" pointcut-ref="myPointcut" throwing="exception"/>
    		<aop:after method="myAfter" pointcut-ref="myPointcut"/>
    		<aop:around method="myAround" pointcut-ref="myPointcut"/>
    	</aop:aspect>
    	
    </aop:config>
    
</beans>